{% extends 'default.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}
{% set page =
    {
        "title": "Biblioteca",
        "subtitle": "Editar",
    }
%}

{% block breadcrumb %}
    <li><a href="{{ path('library_index') }}"><i class="fa fa-dashboard"></i> Biblioteca</a></li>
    <li class="active">Editar</li>
{% endblock %}

{% block content %}
    <h1>Library edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('library_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
