{% extends 'table.html.twig' %}

{% set page =
    {
        "title": "Bibliotecas",
        "subtitle": "Listado",
    }
%}
{% block javascript %}
    {{ parent() }}

    <script type="text/javascript">
    $( "#target" ).click(function() {
      alert( "Handler for .click() called." );
    });

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          mapTypeControl: false,
        });

        var locations = [];
          {% for library in libraries %}
            var position = '{{library.position|raw}}';
            locations.push(['{{library.name}}', JSON.parse(position), {{library.id}}]);
          {% endfor %}
        var bounds = new google.maps.LatLngBounds();
        var infowindow = new google.maps.InfoWindow();

        for (i = 0; i < locations.length; i++) {
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
          });

          //extend the bounds to include each marker's position
          bounds.extend(marker.position);

          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              infowindow.setContent(locations[i][0]);
              infowindow.open(map, marker);
            }
          })(marker, i));
        }

        //now fit the map to the newly inclusive bounds
        map.fitBounds(bounds);

        //(optional) restore the zoom level after the map is done scaling
        var listener = google.maps.event.addListener(map, "idle", function () {
            map.setZoom(3);
            google.maps.event.removeListener(listener);
        });

        $('.library-item').click(function(){
          map.setCenter(JSON.parse($(this).attr('id-position')));
          map.setZoom(17);
        });
      }

      $(document).ready(function(){
        $('#table').DataTable( {
            ordering: true
        } );
        $('.solicitud').click(function(){
          var url = $(this).attr('url');
          var elm= $(this);
          $.ajax({
            method: "POST",
            url: url,
            dataType: "json",
            data: { _ajax: "true", }
          })
            .done(function( data ) {
              if (data.success) {
                $(elm).html('<span class="label label-warning" >Pendiente</span>')

              }
            });
        });
      });
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGQU_QnF4HiBg14sk8sD2pOF17WyhkwPo&callback=initMap">
    </script>

{% endblock javascript %}
{% block breadcrumb %}
    <li><a href="{{ path('library_index') }}"><i class="fa fa-dashboard"></i> Bibliotecas</a></li>
    <li class="active">Listado</li>
{% endblock %}

{% set page =
    {
        "title": "Biblioteca",
        "subtitle": "Listado"
    }
%}

{% set new =
    {
        "route": "library_new",
        "title": "Nueva Biblioteca"
    }
%}

{% block content %}
    <a class="btn btn-primary btn-flat" href="{{path('homepage')}}"><span class="glyphicon glyphicon-menu-left"></span>Volver</a>
    <div class="row">
        <div class="col-xs-6">
            <div class="box box-primary">
                <div class="box-body">
                  <div id="map" style="width: 100%; min-height: 500px"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="box box-primary">
                <div class="box-body">
                    <h4>Bibliotecas</h4>
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <table id="table" class="table {% block classTable %} dataTable {% endblock %} table-bordered table-hover">
                            <thead>
                              <tr>
                                  <th>Nombre</th>
                                  <th>Dirección</th>
                                  <th>Seguimiento</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for library in libraries %}
                                  <tr>
                                      <td class="library-item" id-position='{{library.position}}' role="button">{{ library.name }}</td>
                                      <td>{{ library.address }}</td>
                                      <td class="table-operations">
                                        {% if library.owner.id == app.user.id %}
                                          <span class="label label-primary">Creador</span>
                                        {% else %}
                                          {% set sendSolicitud = true %}
                                          {% for solicitud in solicitudes %}
                                              {% if solicitud.library == library %}
                                                {% set sendSolicitud = false %}
                                                {% if solicitud.state == "pending" %}
                                                  <span class="label label-warning" >Pendiente</span>
                                                {% elseif solicitud.state == "canceled" %}
                                                  <span class="label label-danger">Cancelado</span>
                                                {% elseif solicitud.state == "accepted" %}
                                                  <span class="label label-success">Aceptada</span>
                                                {% endif %}
                                              {% endif %}
                                          {% endfor %}
                                          {% if sendSolicitud %}
                                            <a href="#" class="solicitud" url="{{ path('ajax_following_managment', {'library': library.id}) }}" title="solicitar acceso"><span class="fa fa-sign-in" aria-hidden="true"></span> Solicitar acceso</a>
                                          {% endif %}
                                        {% endif %}
                                      </td>
                                  </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
