{% extends 'table.html.twig' %}

{% set page =
    {
        "title": "Biblioteca",
        "subtitle": "estaditica",
    }
%}

{% block javascript %}
    {{ parent() }}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script>

    $('#select-sala').change(function(){
        var id = $(this).val();
        if (id == 0) {
          $('#temperature').hide();
          $('#humidity').hide();
        }else{
          $('#temperature').show();
          $('#humidity').show();
        $.ajax({
          method: "POST",
          url: "{{path('ajax_data_temperature')}}",
          dataType: "json",
          data: { _room: id }
        })
        .done(function( data ) {
          if (data.success) {

            //Temperatura
            Highcharts.chart('temperature', {

            title: {
              text: 'Media Climatica'
            },
            xAxis: {
              type: 'datetime',
              dateTimeLabelFormats: {
                 month: '%b %e, %Y',
                 year: '%Y'
              }
            },
            yAxis: {
              title: {
                text: null
              }
            },
            tooltip: {
              crosshairs: true,
              shared: true,
              valueSuffix: '°C'
            },
            legend: {
            },
            series: [{
              name: 'Temperatura Esperada',
              data: jQuery.parseJSON(data.data.promedio),
              zIndex: 1,
              color:  Highcharts.getOptions().colors[4],
              marker: {
                fillColor: 'white',
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[4]
              }
            },{
                name: 'Temperatura Real',
                data: jQuery.parseJSON(data.data.valor),
                type: 'line',
                tooltip: {
                    valueDecimals: 2
                },
                lineWidth: 1,
                color: Highcharts.getOptions().colors[9],
                marker: {
                  fillColor: 'white',
                  lineWidth: 2,
                  lineColor: Highcharts.getOptions().colors[9]
                }
            }, {
              name: 'Rango de Temperatura Aceptable',
              data: jQuery.parseJSON(data.data.limits),
              type: 'arearange',
              lineWidth: 0,
              linkedTo: ':previous',
              color: Highcharts.getOptions().colors[0],
              fillOpacity: 0.3,
              zIndex: 0,
              marker: {
                fillColor: 'white',
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[0]
              }
            }]
            });
          }
        });
        $.ajax({
          method: "POST",
          url: "{{path('ajax_data_humidity')}}",
          dataType: "json",
          data: { _room: id }
        })
        .done(function( data ) {
          if (data.success) {
            // humedad
            Highcharts.chart('humidity', {

            title: {
              text: 'Media de Humedad'
            },
            xAxis: {
              type: 'datetime',
              dateTimeLabelFormats: {
                 month: '%b %e, %Y',
                 year: '%Y'
              }
            },
            yAxis: {
              title: {
                text: null
              }
            },
            tooltip: {
              crosshairs: true,
              shared: true,
              valueSuffix: '°C'
            },
            legend: {
            },
            series: [{
              name: 'Humedad Esperada',
              data: jQuery.parseJSON(data.data.promedio),
              zIndex: 1,
              color:  Highcharts.getOptions().colors[4],
              marker: {
                fillColor: 'white',
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[4]
              }
            },{
                name: 'Humedad Real',
                data: jQuery.parseJSON(data.data.valor),
                type: 'line',
                tooltip: {
                    valueDecimals: 2
                },
                lineWidth: 1,
                color: Highcharts.getOptions().colors[9],
                marker: {
                  fillColor: 'white',
                  lineWidth: 2,
                  lineColor: Highcharts.getOptions().colors[9]
                }
            }, {
              name: 'Rango de Humedad Aceptable',
              data: jQuery.parseJSON(data.data.limits),
              type: 'arearange',
              lineWidth: 0,
              linkedTo: ':previous',
              color: Highcharts.getOptions().colors[0],
              fillOpacity: 0.3,
              zIndex: 0,
              marker: {
                enabled: false
              }
            }]
            });

          }
        });
        }
    });

    </script>
{% endblock %}

{% block breadcrumb %}
    <li><a href="#"><i class="fa fa-dashboard"></i> Bibliteca</a></li>
    <li class="active">Estaditicas</li>
{% endblock %}

{% set page =
    {
        "title": "Biblioteca",
        "subtitle": "Estadísticas"
    }
%}

{% set new =
    {
        "route": path("room_new", {'library': library.id}),
        "title": "Nueva Sala"
    }
%}

{% block content %}
<div class="row">
  <div class="col-xs-12">
      <div class="box box-primary">
          <div class="box-body">
            <select class="form-control" id="select-sala" placeholder="seleccione una sala">
              <option value="0">seleccione una sala</option>
              {% for room in library.rooms %}
                <option value="{{room.id}}">{{room.name}}</option>
              {% endfor %}
            </select>
          </div>
      </div>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
              <div id="temperature" style="min-width: 310px; height: 400px; margin: 0 auto; display:none"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
              <div id="humidity" style="min-width: 310px; height: 400px; margin: 0 auto; display:none"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
