{% extends 'layout.html.twig' %}

{% if stylesheets is not defined %}
    {% set stylesheets = [] %}
{% endif %}

{% if javascripts is not defined %}
    {% set javascripts = [] %}
{% endif %}

{% block logo %}
    <span class="logo-mini">{{ system.backendTitleMini | raw }}</span>
    <span class="logo-lg">{{ system.backendTitle | raw }}</span>
{% endblock %}

{% block navbarCustomMenu %}
    {% if system.options.show_messages %}
        {% include 'layout/messages_menu.html.twig' %}
    {% endif %}
    {% if system.options.show_notifications %}
        {% include 'layout/notifications_menu.html.twig' %}
    {% endif %}
    {% if system.options.show_alerts %}
        {% include 'layout/alerts_menu.html.twig' %}
    {% endif %}
    {% include 'layout/user_menu.html.twig' %}
    <li>
        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
    </li>
{% endblock %}

{% block mainSidebar %}

    <div class="user-panel">
        <div class="pull-left image">
            <img src="{{ avatar_asset(app.user.avatar) }}" class="img-rounded" alt="Imágen del usuario">
        </div>
        <div class="pull-left info">
            <p>{{ app.user.name }} {{ app.user.lastname }}</p>
            <a href="#"><i class="fa fa-circle text-success"></i> En línea</a>
        </div>
    </div>

    {% if system.options.show_search %}
        {% include 'layout/search_menu.html.twig' %}
    {% endif %}

    <ul class="sidebar-menu">
        <li class="header">MENU PRINCIPAL</li>
        {% include 'layout/sidemenu_menu.html.twig' %}
    </ul>

{% endblock %}

{% block contentWrapper %}
    <section class="content-header">
        <h1>
            {{ page.title }}
            <small>{{ page.subtitle }}</small>
        </h1>
        <ol class="breadcrumb">
            {% block breadcrumb %}{% endblock %}
        </ol>
    </section>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
