{% extends 'default.html.twig' %}

{% set page =
    {
        "title": "Principal",
        "subtitle": "Portada",
    }
%}

{% block breadcrumb %}
    <li class="active">Portada</li>
{% endblock %}

{% block content %}
<div class="row">
  <!-- ./col -->
  <a href="{{ path('library_new') }}">
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h3>Crear</h3>
          <p>Biblioteca</p>
        </div>
        <div class="icon">
          <i class="glyphicon glyphicon-plus"></i>
        </div>
      </div>
    </div>
  </a>
  <a href="{{ path('library_index') }}">
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-fucia">
        <div class="inner">
          <h3>Buscar</h3>
          <p>Otras Bibliotecas</p>
        </div>
        <div class="icon">
          <i class="ion ion-search"></i>
        </div>
      </div>
    </div>
  </a>
  <a href="#" data-toggle="modal" data-target="#modal-load">
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-red">
        <div class="inner">
          <h3>Cargar</h3>
          <p>Datos a una sala</p>
        </div>
        <div class="icon">
          <i class="ion ion-upload"></i>
        </div>
      </div>
    </div>
  </a>
  <!-- ./col -->
</div>
<div class="row">
  {% for library in libraries %}
    <div class="col-md-6">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <a href="#">
          <div class="widget-user-header bg-aqua-active">
            <h3 class="widget-user-username">{{ library.name }}</h3>
            <h5 class="widget-user-desc">{{ library.address }}</h5>
          </div>
        </a>

        <div class="box-body">
          <div class="row">
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">{{library.rooms|length }}</h5>
                <span class="description-text">Salas</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">12000</h5>
                <span class="description-text">Registros</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4">
              <div class="description-block">
                <h5 class="description-header">2</h5>
                <span class="description-text">Seguidores</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

        </div>
        <div class="box-footer">
            <a class="btn btn-app" href="{{ path('library_edit', { 'id': library.id }) }}">
              <i class="fa fa-edit"></i> Editar
            </a>
            <a class="btn btn-app">
              <i class="fa fa-remove"></i> Eliminar
            </a>
            <a class="btn btn-app" href="{{ path('room_new', { 'library': library.id }) }}">
              <i class="fa fa-plus"></i> Sala
            </a>
            <a class="btn btn-app" href="{{ path('room_index', { 'library': library.id }) }}">
              <i class="fa fa-list"></i> Salas
            </a>
            <a class="btn btn-app">
              <span class="badge bg-green">1</span>
              <i class="fa fa-users"></i> Seguidores
            </a>
            <a class="btn btn-app">
              <i class="fa  fa-line-chart"></i> Estadísticas
            </a>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
  {% endfor %}
    <!-- /.col -->
</div>
{% endblock %}

{% block modal_title %}
  Cargar datos a una sala
{% endblock %}

{% block modal_body %}
    <div class="form-group">
      <label>Seleccione una Bibliteca</label>
      <div class="input-group input-group-sm">
        <select class="form-control" id="library">
             <option value="" disabled selected>Seleccione una bibliteca</option>
          {% for library in libraries %}
              <option value="{{library.id}}">{{library.name}}</option>
          {% endfor %}
        </select>
        <span class="input-group-addon" style="padding:0px;">
          <a href="{{ path('library_new')}}">
              <i class="fa fa-plus" style="padding: 8px 18px;background-color: #3c8dbc;margin: 0;color: #fff;"></i>
            </a>
          </span>
      </div>

    </div>
    <div class="form-group">
      <label>Seleccione una Sala</label>
      <div class="input-group input-group-sm">
        <select class="form-control" id="rooms" disabled>
          <option>vacio</option>
        </select>
        <span class="input-group-addon" style="padding:0px;">
          <a href="#" disabled>
              <i class="fa fa-plus" style="padding: 8px 18px;background-color: #3c8dbc;margin: 0;color: #fff;"></i>
            </a>
          </span>
      </div>
      <script>
        $('#library').change(function(){
          var id = $(this).val()
          $.ajax({
            method: "POST",
            url: "/room/api/list",
            data: { library: id }
          })
          .done(function( data ) {
            var $el = $("#rooms");
            $el.empty(); // remove old options
            $.each(data, function(key,value) {
              $el.append($("<option></option>")
                 .attr("value", value).text(key));
            });
            $el.removeAttr("disabled");
          });
        })
      </script>
    </div>
    <div class="form-group">
      <label for="exampleInputFile">Archivo de Registro del DataLogger</label>
      <input id="exampleInputFile" name="upload" type="file">
      <p class="help-block">Seleccione el archivo .xls que contenga las siguientes columnas <br>   ("#";"Date";"Time, GMT-03:00";"Temp, °C";"RH, %";"DewPt, °C")</p>
    </div>

{% endblock %}
