{% extends 'default.html.twig' %}

{% set page =
    {
        "title": "Principal",
        "subtitle": "Portada",
    }
%}

{% block breadcrumb %}
    <li class="active">Portada</li>
{% endblock %}
{% block contentHeader %}
{% endblock %}
{% block content %}
<div class="row">
  <!-- ./col -->
  <a href="{{ path('library_new') }}">
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h3>Crear</h3>
          <p>Biblioteca</p>
        </div>
        <div class="icon">
          <i class="glyphicon glyphicon-plus"></i>
        </div>
      </div>
    </div>
  </a>
  <a href="{{ path('library_index') }}">
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-fucia">
        <div class="inner">
          <h3>Buscar</h3>
          <p>Bibliotecas para subscribirse</p>
        </div>
        <div class="icon">
          <i class="ion ion-search"></i>
        </div>
      </div>
    </div>
  </a>
  <a href="#" data-toggle="modal" data-target="#modal-load">
    <div class="col-lg-3 col-xs-6">
      <div class="alert bg-green" id="alert" style="display:none;">
          <button type="button" class="close" data-dismiss="alert">x</button>
          <strong><p id="msjCarga"></p></strong>
          <div id="contentTrue" style="display:none;">
            <p>Registros Nuevos: <span id="nuevos"></span></p>
            <p>Registros Repetidos: <span id="repetidos"></span></p>
          </div>
      </div>
      {% if libraries | length %}
      <div class="small-box bg-red">
        <div class="inner">
          <h3>Cargar</h3>
          <p>Datos a una sala</p>
        </div>
        <div class="icon">
          <i class="ion ion-upload"></i>
        </div>
      </div>
      {% endif %}
    </div>
  </a>


  <a data-toggle="modal" data-target="#modalAyuda">
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-yellow">
        <div class="inner btn">
          <h3>Ayuda</h3>
          <p>Preguntas frecuentes</p>
        </div>
        <div class="icon btn">
          <i class="ion ion-information"></i>
        </div>
      </div>
    </div>
  </a>

  <!-- /.Modal ayuda -->
  <div class="modal fade" id="modalAyuda" tabindex="-1" role="dialog" aria-labelledby="modalAyuda" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAyuda">Información sobre el sistema</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Este sistema está pensado para que pueda analizar cómo se están conservando
          los materiales en las bibliotecas donde se posea información.<br>
          Mediante un aparato llamado "datalogger" se mide la temperatura y la humedad de una sala de una biblioteca. <br>
          Con esa información, junto a la composición de las paredes y a la superficie vidriada entre otros datos, se elaboran estadísticas y proyecciones que permiten tomar decisiones para mejorar la conservación de los materiales.
          <br><br>
          Sólo puede cargar información en las bibliotecas bajo su administración, pero puede pedir acceso a información estadística de cualquier otra biblioteca del sistema.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Fin Modal ayuda -->
  <!-- ./col -->
</div>


<!--------------------Inicio contenido ---------------------->


<div class="row">
  {% if libraries|length %}
  <section class="content-header">
      <h1>
          Bibliotecas Propias
      </h1>
  </section>
  {% endif %}
  {% for library in libraries %}
    <div class="col-md-6">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header bg-aqua-active" style="background-color: {{ library.colour|default('#00a7d0') }}!important">
            <h3 class="widget-user-username">{{ library.name }}</h3>
            <h5 class="widget-user-desc">{{ library.address }}</h5>
          </div>

        <div class="box-body">
          <div class="row">
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">{{library.rooms|length }}</h5>
                <span class="description-text">
                  {{ (library.rooms|length == 1) ? 'Sala' : 'Salas' }}
                </span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">{{library | dataLoggers}}</h5>
                <span class="description-text">Registros cargados</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4">
              <div class="description-block">
                <h5 class="description-header">{{ library | accepted}}</h5>
                <span class="description-text">Seguidores</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

        </div>
        <div class="box-footer">
            <a class="btn btn-app" href="{{ path('library_edit', { 'id': library.id }) }}" data-toggle="tooltip" title="" data-original-title="Editar Biblioteca">
              <i class="fa fa-edit"></i> Editar
            </a>
            <a class="btn btn-app" href="{{ path('room_new', { 'library': library.id }) }}" data-toggle="tooltip" title="" data-original-title="Agregar Sala">
              <i class="fa fa-plus"></i> Sala
            </a>
            <div data-toggle="tooltip" title="" data-original-title="Gestionar Seguidores" style="display: inline-block;">
              <a class="btn btn-app" data-toggle="modal" data-target="#modal-default{{library.id}}">
                {%if library | pending %}<span class="badge bg-green" id="cant_{{library.id}}">{{library | pending}}</span>{% endif %}
                  <i class="fa fa-users"></i>Seguidores
              </a>
            </div>
            <a class="btn btn-app" href="{{ path('library_log', {'id': library.id }) }}" data-toggle="tooltip" title="" data-original-title="Estadisticas">
              <i class="fa  fa-line-chart"></i> Estadísticas
            </a>
        </div>
      </div>

      <!-- /.Modal seguidores -->
      <div class="modal fade" id="modal-default{{library.id}}">
        <div class="modal-dialog">
          <div class="modal-content">

              {% if library.followers is empty %} {# NO hay seguidores #}
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Seguidores:</h4>
              </div>
              <div class="modal-body">
                <p>Aun no tiene seguidores! Difunda esta Biblioteca.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>

             {% else %} {# HAY seguidores #}
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title">Ver seguidores</h4>
             </div>
             <div class="modal-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th hidden>#</th>
                  <th>Usuario</th>
                  <th>Estado</th>
                  <th>Acción</th>
                </tr>
                {% for follower in library.followers %}
                <tr>
                  {% if follower.state != 'canceled' %}
                    <td hidden>{{follower.id}}</td>
                    <td><a href="{{ path('user_show', {'id': follower.user.id}) }}"> {{follower.user}}</a></td>
                    <td>
                       {% if follower.state == 'pending' %}
                          <span class="label label-warning" id="state_{{library.id}}"> Pendiente<span>
                        {% elseif follower.state == 'accepted'%}
                           <span class="label label-success" id="state_{{library.id}}"> Aceptado<span>
                        {% else %}
                          <span class="label label-danger" id="state_{{library.id}}"> Cancelado<span>
                        {% endif %}
                    </td>
                    <td>
                      {% if follower.state == 'pending' %}
                        <span library-id="{{library.id}}" follower-id="{{follower.user.id}}" action="accepted" data-toggle="tooltip" title="" class="badge bg-green ajax" role="button" data-original-title="Aceptar">
                          <span class="glyphicon glyphicon-ok" id="action_{{library.id}}" aria-hidden="true"></span>
                        </span>
                      {% endif %}
                      <span library-id="{{library.id}}" follower-id="{{follower.user.id}}" action="canceled" data-toggle="tooltip" title="" class="badge bg-red ajax" role="button" data-original-title="Cancelar">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      </span>
                    </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody></table>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
             </div>
             {% endif %} {# fin HAY seguidores #}
          </div>
        </div>
      </div>
      <!-- /.Fin Modal seguidores -->
    </div>
  {% endfor %}
    <!--BIBLIOtecas seguidas-->
    {% if followings|length %}
      <section class="content-header">
          <h1>
              Biblioteca Seguidas
              <small>solo con acceso a estadisticas</small>
          </h1>
      </section>
    {% endif %}
    {% for library in followings %}
      <div class="col-md-6">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <a href="{{ path('library_log', {'id': library.id }) }}" data-toggle="tooltip" title="" data-original-title="Acceder a las estadisticas">
            <div class="widget-user-header bg-aqua-active" style="background-color: {{ library.colour|default('#00a7d0') }}!important">
              <h3 class="widget-user-username">{{ library.name }}</h3>
              <h5 class="widget-user-desc">{{ library.address }}</h5>
            </div>
          </a>

          <div class="box-body">
            <div class="row">
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <h5 class="description-header">{{library.rooms|length }}</h5>
                  <span class="description-text">Salas</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <h5 class="description-header">{{library | dataLoggers}}</h5>
                  <span class="description-text">Registros</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4">
                <div class="description-block">
                  <h5 class="description-header">{{ library | accepted}}</h5>
                  <span class="description-text">Seguidores</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

          </div>
        </div>
      </div>
    {% endfor %}


</div>
{% endblock %}

{% block modal_title %}
  Cargar datos a una sala
{% endblock %}

{% block modal_body %}
    <div class="form-group">
      <label>Seleccione una Biblioteca</label>
      <div class="input-group input-group-sm">
        <select class="form-control" id="library">
             <option value="" disabled selected>Seleccione una biblioteca</option>
          {% for library in libraries %}
              <option value="{{library.id}}">{{library.name}}</option>
          {% endfor %}
        </select>
        <span class="input-group-addon" style="padding:0px;">
          <a href="{{ path('library_new')}}">
              <i class="fa fa-plus" style="padding: 8px 18px;background-color: #3c8dbc;margin: 0;color: #fff;"></i>
            </a>
          </span>
      </div>

    </div>
    <div class="form-group">
      <label>Seleccione una Sala</label>
        <div class="input-group input-group-sm">
          <select class="form-control" id="rooms" disabled>
            <option value=null>vacio</option>
          </select>
          <span class="input-group-addon" style="padding:0px;">
            <a id="add-sala" disabled>
                <i class="fa fa-plus" style="padding: 8px 18px;background-color: #3c8dbc;margin: 0;color: #fff;"></i>
              </a>
            </span>
        </div>
        <script>
          $('#library').change(function(){
            var id = $(this).val()
            $.ajax({
              method: "POST",
              url: "{{ path('api_library_list')}}",
              data: { library: id }
            })
            .done(function( data ) {
              var $el = $("#rooms");
              $('#add-sala').attr('href', '/sala/'+id+'/crear')
              $el.empty(); // remove old options
              $.each(data, function(key,value) {
                $el.append($("<option></option>")
                   .attr("value", key).text(value));
              });
              $el.removeAttr("disabled");
            });
          })

          $('.ajax').click(function(){
            var action = $(this).attr('action');
            var id = $(this).attr('library-id');
            var follower = $(this).attr('follower-id');
            var elemn = $(this);
            var cant = $('#cant_'+id).html();
            $('#cant_'+id).html(--cant);
            if (action == "canceled") {
              var r = confirm("Estas seguro que deseas cancelar la solicitud");
            }else {
              var r = true;
            }
            if (r) {
              var cancel = $('#action_'+id).parent().next();
              $(cancel).hide();
              $('#action_'+id).parent().remove();
              $('#state_'+id).removeClass('label-warning');
              $('#state_'+id).addClass('label-default');
              $('#state_'+id).html('en proceso');

              $.ajax({
                method: "POST",
                url: "{{ path('ajax_follower_managment') }}",
                dataType: "json",
                data: { _follower: follower, _ajax: true , _action: action, _library:id}
              })
              .done(function( data ) {
                $(cancel).show();
                if (data.success) {
                  $('#state_'+id).removeClass('label-default');
                  $('#state_'+id).removeClass('label-success');
                  if (data.action == "accepted") {
                    $('#state_'+id).addClass('label-success');
                      $('#state_'+id).html('Aceptado');
                  }else if(data.action == "canceled") {
                    if($('#state_'+id).hasClass('label-danger')){
                      $('#state_'+id).parent().parent().remove()
                      $(cancel).hide();
                    }else{
                      $('#state_'+id).addClass('label-danger');
                      $('#state_'+id).html('Cancelado');
                      $(cancel).hide();
                    }
                  }
                }else{
                  alert('no se pudo procesar la solicitud');
                }
              });

            }
            $('.tooltip').not(this).hide();
          });

      </script>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">Archivo de registros de temperatura y humedad del DataLogger</label>
        
<table class="table table-bordered">
    <caption>Seleccione el archivo .xls que contenga las siguientes columnas </caption>
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Time, GMT-03:00</th>
        <th>Temp, °C</th>
        <th>RH, %</th>
        <th>DewPt, °C</th>
      </tr>
    </thead>
</table>
        
        <input id="uploadFile" name="upload" type="file" accept="application/msexcel">
      </div>
{% endblock %}
{% block modal_footer %}
  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
  <button type="button" id="button_finish" class="btn btn-primary">Cargar</button>
<script type="text/javascript">
$('#button_finish').click(function(){
  var id_room = $('#rooms').val();
  if (id_room) {
    if ($('#uploadFile').val()) {
      $('#load').show();
      var formData = new FormData();
      formData.append('upload', $('#uploadFile')[0].files[0]);
      formData.append('ajax', 'yes');
      $.ajax({
        method: "POST",
        url: "/sala/"+id_room+"/cargar",
        cache: false,
        contentType: false,
        processData: false,
        dataType:'json',
        data: formData
      })
      .done(function( data ) {
        $('#load').hide();
        $('#modal-load').modal('toggle');
        if (data.status) {
          $('#alert').removeClass('bg-red');
          $('#alert').addClass('bg-green');
          $('#msjCarga').html("Se agregó correctamente el archivo");
          $('#nuevos').html(data.nuevos);
          $('#repetidos').html(data.repetidos);
          $('#contentTrue').show();
        }else{
          $('#alert').removeClass('bg-green');
          $('#alert').addClass('bg-red');
          $('#msjCarga').html("No se pudo cargar el archivo. Verifique el formato.");
          $('#contentTrue').hide();
        }
        $("#alert").fadeTo(2000, 500).slideUp(1000, function(){
          $("#alert").slideUp(3000);
        });
      });
    }else{
      alert('no selecciono ningun archivo');
    }
  }else {
    alert('seleccione una sala');
  }
});
</script>
{% endblock %}
