{% extends 'default.html.twig' %}

{% set page =
    {
        "title": "Principal",
        "subtitle": "Portada",
    }
%}

{% block breadcrumb %}
    <li class="active">Portada</li>
{% endblock %}

{% block content %}
<div class="row">
  <!-- ./col -->
  <a href="{{ path('library_new') }}">
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h3>Crear</h3>
          <p>Biblioteca</p>
        </div>
        <div class="icon">
          <i class="glyphicon glyphicon-plus"></i>
        </div>
      </div>
    </div>
  </a>
  <a href="{{ path('library_index') }}">
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-fucia">
        <div class="inner">
          <h3>Buscar</h3>
          <p>Otras Bibliotecas</p>
        </div>
        <div class="icon">
          <i class="ion ion-search"></i>
        </div>
      </div>
    </div>
  </a>
  <!-- ./col -->
</div>
<div class="row">
  {% for library in libraries %}
    <div class="col-md-6">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <a href="#">
          <div class="widget-user-header bg-aqua-active">
            <h3 class="widget-user-username">{{ library.name }}</h3>
            <h5 class="widget-user-desc">{{ library.address }}</h5>
          </div>
        </a>

        <div class="box-body">
          <div class="row">
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">{{library.rooms|length }}</h5>
                <span class="description-text">Salas</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">12000</h5>
                <span class="description-text">Registros</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4">
              <div class="description-block">
                <h5 class="description-header">2</h5>
                <span class="description-text">Seguidores</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

        </div>
        <div class="box-footer">
            <a class="btn btn-app">
              <i class="fa fa-edit"></i> Editar
            </a>
            <a class="btn btn-app">
              <i class="fa fa-remove"></i> Eliminar
            </a>
            <a class="btn btn-app" href="{{ path('room_new', { 'library': library.id }) }}">
              <i class="fa fa-plus"></i> Sala
            </a>
            <a class="btn btn-app" href="{{ path('room_index', { 'library': library.id }) }}">
              <i class="fa fa-list"></i> Salas
            </a>
            <a class="btn btn-app">
              <span class="badge bg-green">1</span>
              <i class="fa fa-users"></i> Seguidores
            </a>
            <a class="btn btn-app">
              <i class="fa  fa-line-chart"></i> Estadísticas
            </a>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
  {% endfor %}
    <!-- /.col -->
</div>
{% endblock %}
