{% extends 'default.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}
{% set page =
    {
        "title": "Sala",
        "subtitle": "Crear en nueva sala",
    }
%}
{% block javascript %}
  <script>
  document.getElementById("agregar").addEventListener("click", function(){
    document.getElementById("router").value = "room_new";
  });
  document.getElementById("finalizar").addEventListener("click", function(){
    document.getElementById("router").value = "homepage";
  });
</script>
{% endblock javascript %}
{% block breadcrumb %}
    <li><a href="{{ path('room_index') }}"> Sala</a></li>
    <li>Crear </li>
    <li class="active">Nueva sala</li>
{% endblock %}

{% block content %}
  <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Creando una sala </h3>
      </div>
      <div class="box-body">
          {{ form_start(form, { 'attr': {'enctype': 'multipart/form-data'} }) }}
            <div class="row">
              <div class="col-md-4">
                  <div class="form-group ">
                    {{ form_label(form.use) }}
                    {{ form_widget(form.use) }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  {{ form_label(form.conditioning) }}
                  {{ form_widget(form.conditioning) }}
                </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group ">
                    {{ form_label(form.exposedFaces) }}
                    {{ form_widget(form.exposedFaces) }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  {{ form_label(form.width) }}
                  {{ form_widget(form.width) }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  {{ form_label(form.length) }}
                  {{ form_widget(form.length) }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  {{ form_label(form.high) }}
                  {{ form_widget(form.high) }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  {{ form_label(form.roofComposition) }}
                  {{ form_widget(form.roofComposition) }}
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  {{ form_label(form.floorComposition) }}
                  {{ form_widget(form.floorComposition) }}
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  {{ form_label(form.wallComposition) }}
                  {{ form_widget(form.wallComposition) }}
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  {{ form_label(form.windowComposition) }}
                  {{ form_widget(form.windowComposition) }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  {{ form_label(form.glazedSurface) }}
                  {{ form_widget(form.glazedSurface) }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" style="overflow:hidden;">
                  <label for="exampleInputFile">Registro del DataLogger</label>
                  <input id="exampleInputFile" name="upload" type="file">
                  <p class="help-block">Seleccione el archivo CSV ("#";"Date";"Time, GMT-03:00";"Temp, °C";"RH, %";"DewPt, °C")</p>
                </div>
              </div>
            </div>
            <div class="box-footer">
                <input  id="agregar" class="btn btn-primary" type="submit" value="Agregar Otra Sala" />
                <input  id="finalizar" class="btn btn-success" type="submit" value="Finalizar Carga" />
                <input  id="router" name="router" type="hidden" value="" />
            </div>
        {{ form_end(form) }}
      </div>
  </div>
{#
    <h1>Room creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('room_index') }}">Back to the list</a>
        </li>
    </ul>
#}

{% endblock %}
